* {
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
}

.subtitle {
  text-align: center;
  margin-left: 40vw;
  margin-bottom: 5vh;
}

#container {
  margin: auto;
  border: 2px double black;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
}

.square {
  flex: 0 0 auto;
  width: 31.25px;
  height: 31.25px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 7px;
  color: #aaa;
}

/* css rule for square hightlighting */
.hightlight {
  background-color: blue;
}

#control {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 16px;
}
